body {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	padding: 10px 10px;

	.main-image {
		img {
			width: 100%;
		}
		margin-bottom: 10px;
	}
	#main-isaac {
	    margin-bottom: 20px;
	}
	h1 {
		font-size: 36px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: -3px;
	}

	.menu-content-wrapper {
		& > * {
		    display: inline-block;
 			vertical-align: top;
		}

 		.menu {
 			width: 30%;
 			.menu-item {
 				margin-bottom: 14px;
 				a {
 					text-decoration: none;
					color: black;
					font-weight: bold;
					text-transform:uppercase;
					font-size: 20px;
 				}
 				a:hover {
 					color: grey;
 				}
 			}
 		}
 		.content {
 			width: 69%;
 			.artwork-title {
 				float: right;
 				margin-bottom: 10px;
 			}
 			.artwork-body {
 				clear: both;
 				line-height: 24px;
 			}
 			.artwork-category {
 				.category-item {
 					display: inline-block;
 					margin-left: 24px;
					margin-bottom: 24px;
 					img {
 						width: 198px;
 						height: 129px;
 					}
 				}
 			}

 		}

	}



}